<div class="form">
  <h2>Login</h2>

  <form class="login-form">
    <label for="username-login">Username</label>
    <div class="form-group">      
      <input class="form-input" type="text" id="username-login" />
    </div>
    <label for="password-login">Password</label>
    <div class="form-group">
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login !</button>
    </div>
    <a href="/signup">Sign up instead</a>
  </form>
</div>

<script src="./js/login.js"></script>