<div class="form">
  <h2>Create a New Post</h2>

  <form class="post-form">
    <label for="title-post">Title</label>
    <div class="form-group">
      <input class="form-input" type="text" id="title-post" />
    </div>
    <label for="description-post">Content</label>
    <div class="form-group">
      <textarea id="description-post" cols="30" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/js/post.js"></script>